/*hoja de estilos para pagina compras*/
@import "../var/variables";

.color_label1{
    color:$new-color-label1
}
.boton-compra{
    color:rgb(0, 76, 255);
    background-color: rgb(0, 255, 119);
    padding:0.4rem;
    text-decoration: none;
}
.agotado{
    @extend .boton-compra;
    background-color: red;
    color:rgb(32, 26, 37);
  
}
.oferta1{
    font-size: x-large;
   transform: rotate(45deg);
    
}

