
/*inicio css*/
/*modificaciones generales*/

body{
    background-image: url(../img/backgrounds/flower.png);
}
p{
    color: aqua;
}


h2{
    font-size:medium;
    margin:auto;
}
@media (min-width: 720px) {
    h2{
       
        font-size:large;
    }

}
h3{
    font-size: small;

}

/*modificaciones individuales*/
#cabecera{
    background-image: url(../img/backgrounds/bubble.png);
    width:100%;
    border: 5px;
    border-style: solid;
    border-color: rgb(0, 255, 187);
    padding: 20px 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    nav{
        ul{
            gap: 15px;
            margin-top: 40px;
            margin-right: 50px;
            list-style: none; 
            a{
                &:hover{
                    background-color: chocolate;
                    transform:scale(1.3,1.3) ;
                }
            }
        }
    }

   
}


.estilo_menu{
    font-size:larger;
    font-weight: 800;
}



.texto_final{
    color: rgb(165, 151, 42);
    font-weight: 900;
    width:100%;
    text-align: center;
    margin-top: 50px;
}

.centrar{
    margin:20px auto;
    
}
.centrar iframe{
    width:200px;
    height: 200px;
    margin:0 auto;
}   
@media (min-width:768px){
    .centrar{
        margin:0 auto;
        
    }
    
    .centrar iframe{
       width:300px;
        height:300px;
        margin:0 auto;
        
    }
}
@media (min-width:992px) {

    .centrar{
        margin:0 auto;
        
    }
    .centrar iframe{
        width:350px;
        height:350px;
    }
}

/*
.nav-item:hover {
    background-color: chocolate;
  }
*/
.cambiar-tamaño{
    transform:scale(1.3,1.3) ;
}
.tamaño1{
    font-size: larger;
}

.grosor{
    font-weight: bolder;
}
.color1{
    color:rgb(0, 0, 0);
    font-weight: bolder ;
    text-decoration:underline;
}

.color2{
    color:rgb(237, 231, 231);
    font-weight: bolder;   
    text-decoration: underline;
}
.color3{
    color:deeppink;
    font-weight: bolder;   
}
.color4{
    color:chartreuse;
    font-weight: bolder;  
 
}
