/*hoja de estilos para pagina nosotros*/
@import "../mixins/mixins";

.separar{
    @include flex-tipo;
    align-items: center;
    gap:10px;
}
@media (min-width: 720px) {
    .separar{ 
        @include flex-tipo;
        align-items: center;
        gap:50px;
    }

}
.tamaño2{
    font-size:x-large;
}

